.animate-fadeInModal {
  animation: fadeInModal 0.5s cubic-bezier(.4,2,.3,1);
}

@keyframes fadeInModal {
  0% {
    opacity: 0;
    transform: scale(0.95) translateY(40px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
