@* StockFlowJumbotron.cshtml *@
<div class="jumbotron bg-primary text-white p-5 mb-4  rounded-0 w-100" style="position:absolute;left:50%;right:50%;margin-left:-50vw;margin-right:-50vw;width:100vw;max-width:100vw;">
    <div class="container py-3">
        <h1 class="display-4">Welcome to StockFlow Pro</h1>
        <p class="lead">Your all-in-one solution for stock management and business flow optimization.</p>
        <hr class="my-4">
        <p>Get started by exploring our features and managing your inventory with ease.</p>
        <a class="btn btn-light btn-lg" href="/Features" role="button">Learn more</a>
    </div>
</div>
